/**
* 베이스
* @description 리셋 및 유틸리티
*
* @Modification Information
*
* 수정일 : 수정자 : 수정내용
* --------------------------
* 2023.12.14 : Mabongpapa : 최초생성
*/
@import "./setting/val.scss";

*{margin:0;padding:0;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
:root {overflow-wrap:break-word;word-break:break-word;}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
table {border-collapse:collapse;border-spacing:0}
body{font-family:$font-family-base}