<!-- Favicon -->
<%#
<link rel="shortcut icon" type="image/x-icon" sizes="any" href="/img/layouts/favicon/favicon.ico"><!-- 32×32 -->
<link rel="icon" type="image/png" sizes="192x192" href="/img/layouts/favicon/android-icon.png"> <!-- 192x192 -->
<link rel="apple-touch-icon" href="/img/layouts/favicon/apple-touch-icon.png"><!-- 180×180 -->
%>

<%#
사용 가능한 파비콘 선언
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" type="image/png" sizes="16x16" href="/img/layouts/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/layouts/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/layouts/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/layouts/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/img/layouts/favicon/android-icon-512x512.png">
<link rel="apple-touch-icon" sizes="57x57" href="/img/layouts/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/layouts/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/layouts/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/layouts/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/layouts/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/layouts/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/layouts/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/layouts/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/layouts/favicon/apple-icon-180x180.png">
%>