
<!-- Open Graph -->
<meta property="og:type" content="website" >
<meta property="og:site_name" content="사이트명" >
<meta property="og:title" content="페이지 타이틀" >
<meta property="og:description" content="페이지 설명" >
<meta property="og:url" content="https://www.test.kr" >
<meta property="og:image" content="이미지주소" >
<meta property="og:image:url" content="이미지주소" >
<meta property="og:image:type" content="image/jpeg" >
<meta property="og:image:width" content="300" >
<meta property="og:image:height" content="300" >