<!-- PAGEDOC
@since 2023.01.08
@author mabongpapa
@page 공통헤더
@desc 해당 PAGEDOC는 컴파일 시에 지워집니다.(/pages/ 안에 없음)
@param {string} [title="페이지타이틀"] 페이지 제목
@param {"main"|"sub"} [category="sub"] 카테고리 명칭
-->
<% 
    const title = locals.title ? locals.title : "페이지타이틀";
    const category = locals.category || "sub";
%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1, target-densitydpi=medium-dpi, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">

    <%# Open Graph %>
    <include src="./_inc/openGraph.html"></include>

    <%# Favicon %>
    <include src="./_inc/favicon.html"></include>
    
    <!-- TITLE -->
    <title><%=title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/layout.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/sub.css" />

    <!-- JS -->
    <script type="text/javascript" charset="utf-8" src="/assets/lib/jquery/jquery-3.7.1.min.js"></script> <!-- jquery built-in-->
    <%if(category=="main"){%>
    <script type="text/javascript" charset="utf-8" src="/assets/js/main.js"></script>
    <%}else if(category=="sub"){%>
    <script type="text/javascript" charset="utf-8" src="/assets/js/sub.js"></script>
    <%}%>
</head>
<body>
<header>공통헤더</header>
<hr>